.searchContainer{
    display: flex;            /* Flexbox para deixar os itens lado a lado */
    align-items: center;      /* Alinha verticalmente os itens no centro */
    width: 400px;
    background-color: rebeccapurple;
    border-radius: 8px;
    border: 2px solid rebeccapurple;

}

input{
    background-color: #141414;
    padding: 12px;
    border-radius: 8px;
    width: 350px;
    border: none;
    color: white;
}

input::placeholder {
    color: lightgray;
  }

button{
    border: none;
    width: 50px;
    padding: 12px;
    border-radius: 8px;
    background-color: rebeccapurple;
    cursor: pointer;
    color: white;

}